/* https://giphy.com/stickers/shock-gorgeous-thomas-mu9RGWpXVfSpLzuv4W */

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Oswald&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F1C27B;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./giphy.gif');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 5% center;
}

.message-container {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 50px;
  border-radius: 10px;
  max-width: 90%;
  width: 1000px;
  box-shadow: 0 0 3px 0px black;
  background-color: #73A9AD;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
}

#button-container svg {
  font-size: 2rem;
  height: 5rem;
  margin-top: 20px;
  cursor: pointer;
  transform: rotate(0deg) scale(1);
  transition: transform .3s ease-in-out;
}
#button-container svg:hover {
  transform: rotate(360deg) scale(1.2);
}

#message {
  padding: 20px;
}

button {
  font-family: 'Bagel Fat One', cursive;
  font-size: 1.2rem;
  letter-spacing: 2px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  background-color: #A2CDB0;
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: wait;
  filter: brightness(40%);
}

/* message dots animation */
@keyframes blink {
  50% { 
    color: transparent 
  }
}
.dot { animation: 1s blink infinite }
.dot:nth-child(2) { animation-delay: 250ms }
.dot:nth-child(3) { animation-delay: 500ms }

/* smaller devices */
@media (orientation: portrait) {
  .container {
    background-position: center 95%;
    background-size: 80%;
  }
}